<div class="login-wrapper center-form" fxLayout="row" fxLayoutAlign="center center">

    <form [formGroup]="regForm" (ngSubmit)="onSubmit()">
        <mat-card class="box">
            <mat-form-field>
                <input type="text" matInput formControlName="firstname" placeholder="First Name.." required>
            </mat-form-field>
            <mat-form-field>
                <input type="text" matInput formControlName="lastname" placeholder="Last Name.." required>
            </mat-form-field>
            <mat-form-field>
                <input type="email" matInput formControlName="email" placeholder="Your Email.." required>
            </mat-form-field>
            <mat-form-field>
                <input type="password" matInput formControlName="password" placeholder="Password.." required>
            </mat-form-field>
            <mat-form-field>
                <input type="password" matInput formControlName="passwordConfirmation" placeholder="Confirm Password.."
                    required>
                <mat-hint>Must MATCH Password!!!</mat-hint>
            </mat-form-field>

            <button mat-raised-button type="submit" color="primary" [disabled]="!regForm.valid" class="btn-block">Sign
                Up</button>

        </mat-card>

    </form>



    <mat-card class="boxvalidate" style="margin-left:30px;" *ngIf="!regForm.valid">
        <h4 style="color: indigo;">Registration Requirement</h4>
        <ul class="list-group" style="color: sienna;">
            <li>
                First Name is required.
            </li>
            <li>
                Last Name is required.
            </li>
            <li>
                Email is required.
            </li>
            <!-- <li>
                Phonenumber is required.
            </li> -->
            <li>
                Password is required. Minimum required length is 6
            </li>
            <li>
                Password and Confirm Password must match.
            </li>
        </ul>
    </mat-card>

</div>